/* General */
.btn{
    box-shadow: none !important;
}

/* Landing Page */
#landing-page{
    height: 100vh;
}
#landing-page-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#landing-page-backdrop > img{
    width: 100%;
    height: 100vh;
}
#landing-page-backdrop > div{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Navbar Static */
#navbar-static{
    position: relative;
    z-index: 2;
    transition: all .2s ease-out;
    /* display: none; */
}

.brand-name-and-logo > a{
    text-decoration: none;
}
.brand-name-and-logo > a > img{
    width: 80px;
    height: 80px;
    transition: all .2s ease-out;
}
.brand-name-and-logo > a > h1{
    display: inline;
    /* margin-left: 10px; */
    font-weight: 500;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all .2s ease-out;
}

.menu-items > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-items > ul > li{
    /* background-color: red; */
    display: inline-block;
    padding:5px;
    margin: auto 15px;
}
.menu-items > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: block;
    font-weight: 450;
    /* background-color: red; */
}
.menu-items > ul > li > a::after{
    content: '';
    display: block;
    width: 0%;
    height: 1.5px;
    background-color: white;
    transition: all .2s ease-in;
}
.menu-items > ul > li > a:hover::after{
    width: 100%;
}
.special-menu-item{
    background-color: transparent;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    border: thin solid white;
    color: white;
    transition: all .2s ease-in-out;
}
.special-menu-item:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.special-menu-item > a:hover::after{
    width: 0px !important;
}
.special-menu-item:hover > a{
    color: black !important;
}

/* Hamburger Menus */
#navbar-static-hamburger-menu, #navbar-fixed-hamburger-menu{
    position: absolute;
    top: calc((80px - 27px) / 2);
    height: 27px;
    right: 10px;
    z-index: 2;
    display: none;
}
#navbar-static-hamburger-menu > p, #navbar-fixed-hamburger-menu > p{
    width: 30px;
    height: 3px;
    background: black;
    position: relative;
    top: 12px;
}
#navbar-static-hamburger-menu > p::before, #navbar-static-hamburger-menu > p::after, #navbar-fixed-hamburger-menu > p::before, #navbar-fixed-hamburger-menu > p::after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    position: relative;
    top: -10px;
}

#navbar-static-hamburger-menu > p::after, #navbar-fixed-hamburger-menu > p::after{
    top: 7px;
}

/* Phone Menus */
#navbar-static-phone-menu > a, #navbar-fixed-phone-menu > a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 17px;
    margin-bottom: 10px;

}
#navbar-static-phone-menu > a:hover, #navbar-fixed-phone-menu > a{
    color: #535353;
}

.special-phone-menu-item{
    border: thin solid black;
    border-radius: 20px;
    transition:  all .2s ease-out;
}
.special-phone-menu-item:hover{
    background-color: black;
    color: white !important;
}

/* Navbar Fixed */
#navbar-fixed{
    position: fixed;
    width: 100%;
    z-index: 4;
    top: -100px;
    left: 0;
    transition: all .2s ease-out;
    background-color: rgba(255, 255, 255, 0.925);
}

#navbar-fixed .brand-name-and-logo > a > h1{
    color: black !important;
}
#navbar-fixed .menu-items > ul > li > a{
    color: black;
}
#navbar-fixed .special-menu-item{
    border:thin solid black;
}
#navbar-fixed .special-menu-item:hover{
    background-color: black;
}
#navbar-fixed .special-menu-item:hover > a{
    color: white !important;
}
#navbar-fixed .menu-items > ul > li > a::after{
    background-color: black;
}

/* Header */
.header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform:uppercase;
    font-size: 35px;
    color: #faa921;
    margin-top: 20px;
    transition: all .2s ease-out;
}
.header::after{
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    margin:5px 0px;
    border-radius: 50px;
    background-color: rgb(212, 206, 206);
}

/* Submit */
.submit-button-container{
    width: 300px;
    margin: 20px auto;
}
.submit{
    background-color: #faa921;
    display: block;
    width: 100%;
    color: white;
    border-radius: 50px;
    border: 2px solid #faa921;
    font-weight: 500;
    transition: all .1s ease-out;
}
.submit:hover{
    background-color: white;
    color: #faa921;
}
/* Footer */
#footer-items{
    background-color: #292e31;
}
.footer-header{
    font-size: 20px;
    font-weight: 450;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transition: all .2 ease-out;
}
.footer-header::after{
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background-color: #faa921;
    margin-top: 5px;
    border-radius: 50px;
}
#footer-brand-name-and-logo > img{
    width: 100px;
    transition: all .2s ease-out;
}
#footer-brand-name-and-logo > h1{
    color: white;
    display: inline;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all .2s ease-out;
}
#footer-items a, #footer-items p:not(.footer-header){
    display: block;
    transition: all .2 ease-out;
    text-decoration: none;
    color: rgb(224, 220, 220);
    font-weight: 500;
    transition: all .1s ease-out;
    margin-top: 8px;
}
#footer-items a:hover{
    color: #faa921;
}
#developer-info{
    background-color: #23272a;
}



/* 0px - 700px */
@media only screen and (max-width:700px){
    /* Navbar Static */
    #navbar-static, #navbar-fixed{
        background-color: white;
    }

    .brand-name-and-logo > a > h1{
        color: black !important;
    }

    .menu-items{
        display: none;
    }
    /* Navbar Static Hamburger Menu */
    #navbar-static-hamburger-menu, #navbar-fixed-hamburger-menu{
        display: block;
    }
}

/* 0px - 500px */
@media only screen and (max-width:500px){
    /* Brand Name And Logos */
    .brand-name-and-logo > a > img{
        width: 70px;
    }
    .brand-name-and-logo > a > h1{
        font-size: 25px;
    }
    /* Phone Menus */
    #navbar-static-phone-menu > a, #navbar-fixed-phone-menu > a{
        font-size: 15px;
        margin-bottom: 6px;
    }
    /* Header */
    .header{
        font-size: 30px;
    }
    .header::after{
        width: 40px;
    }
    /* Submit */
    .submit-button-container{
        width: 200px;
    }
    /* Footer */
    #footer-brand-name-and-logo > img{
        width: 80px;
    }
    #footer-brand-name-and-logo > h1{
        font-size: 25px;
    }
    .footer-header{
        font-size: 18px;   
    }
    #footer-items a, #footer-items p:not(.footer-header){
        font-size: 15px;
    }

}